<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">

<h2>커뮤니티</h2>
  <p><a href="/board/writeForm"><input type="button" value="새글쓰기"></a></p>
  <table border="1">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <div th:if="${!#lists.isEmpty(board)}">
        <tr th:each="board:${board}">
          <td th:text="${board.idx}"></td>
          <!--//http://localhost:8080/board/view?idx=1-->
          <td><a th:href="@{/board/view(idx=${board.idx})}" th:text="${board.b_title}"></a></td>
         <!-- <td><a th:href ="/board/view?idx="+${board.idx} th:text="${board.b_title}"></a></td>-->
          <td th:text="${board.b_nick}"></td>
          <td th:text="${board.reg_date}"></td>
          <td th:text="${board.b_cnt}"></td>
        </tr>
      </div>
      <div th:if="${#lists.isEmpty(board)}">
        <tr>
          <td colspan="5"> 조회된 결과 없음</td>
        </tr>
      </div>
    </tbody>
  </table>



  <p>제목 b_title or 작성자 u_id or 작성자 u_nick 로 조회</p>
  <p>페이징처리, 5개 보이고 화살표 넣기, 한페이지에 게시물은 10개</p>



  </div>

</div>
</body>
</html>