<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="footmap.footmap_spring.dao.teamDao.TeamMapper">
    <select id="getTeamList" resultType="footmap.footmap_spring.dto.teamDto.team">
        SELECT * FROM TEAM;
    </select>

    <select id="getTopTeam" resultType="footmap.footmap_spring.dto.teamDto.team">
        SELECT T_NAME
        FROM TEAM
        ORDER BY T_VIC DESC LIMIT 0,3;
    </select>

    <select id="getTeamByCode" resultType="footmap.footmap_spring.dto.teamDto.team">
        SELECT *
        FROM TEAM
        WHERE T_CODE = #{t_code}
    </select>

    <select id="getTeaminUser" resultType="footmap.footmap_spring.dto.teamDto.team" parameterType="footmap.footmap_spring.dto.teamDto.team">
        SELECT T.T_CODE, T.T_NAME, T.T_STADIUM, T.T_VIC, T.T_DRAW, T.T_LOSE, T.T_INTRO
        FROM USER U, TEAM_MANAGEMENT TM, TEAM T
        WHERE U.U_CODE=TM.U_CODE and TM.T_CODE=T.T_CODE
        AND TM.TM_STATUS = 'APPROVED'
        AND U.U_CODE = #{u_code};
    </select>

    <insert id="createTeam" parameterType="footmap.footmap_spring.dto.teamDto.team" useGeneratedKeys="true" keyProperty="t_code">
        INSERT INTO TEAM(T_NAME, T_STADIUM, T_INTRO, T_VIC, T_DRAW, T_LOSE)
        VALUES(#{t_name}, #{t_stadium}, #{t_intro}, 0, 0, 0)
    </insert>

    <insert id="joinTeam">
        INSERT IGNORE INTO TEAM_MANAGEMENT(U_CODE, T_CODE, TM_ROLE, TM_STATUS)
        VALUES(#{u_code}, #{t_code}, #{role}, 'APPROVED')
    </insert>



</mapper>
