<!DOCTYPE html>
<html lang="en">
<head>
    <title>자주하는 질문</title>
    <ul class="dd" style=" list-style-type:none">
        <li>
        <a href="/Page/s_intro">사이트 소개</a>
        <a href="/Page/s_rule">사이트 이용 수칙</a>
        <a href="/Page/FINFO">풋살장 정보</a>
        <a href="/Page/FLIST">풋살장 리스트</a>
        <a href="/Page/Notice">공지사항</a>
        <a href="/Page/Event">Event</a>
        FAQ
        </li>
    </ul>
</head>
<body>
<h2 class="Q">자주하는 질문!</h2>
<dl>
    <dt class="question">1. 매치 진행은 어떻게 되나요??</dt>
    <dd>등록 하시는 팀이 먼저 하시고 난 후에 신청 하고자 하는 팀이 신청하고 등록팀이 승인 하도록 하는 방식입니다.</dd>
    <dt class="question">2. 거친 파울이나 시간관리를 하시는 매니저님이 계신가요?</dt>
    <dd>매니저 관련해서는 자사에서 논의 중에 있습니다. 추후에 말씀 드릴 예정이며, 거친 몸싸움은 회원님들께서 자율적으로 조심해 주시면 감사하겠습니다.</dd>

</dl>
</body>
</html>