<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <ul class="dd" style=" list-style-type:none">
    <li><a href="/Page/s_intro">사이트 소개</a>
        <a href="/Page/s_rule">사이트 이용 수칙</a>
        <a href="/Page/FINFO">풋살장 정보</a>
        <a href="/Page/FLIST">풋살장 리스트</a>
        공지사항
        <a href="/Page/Event">Event</a>
        <a href="/Page/FAQ">FAQ</a>
        </li>
    </ul>
</head>
<body>
<H2>    공지 사항 </H2>
<DL>
    <DT CLASS="NOTICE1">2021년 매치 진행률 96%</DT>
    <DD>회원님의 성원에 깊은 감사를 드립니다.</DD>
</DL>

</body>
</html>